footer {
	background-color: #f8f9fa;
	width: 100%;

}

#footer {
	color: red;
	margin-top: 10px;
}



/* Container holding the image and the text */
.containerText {
    position: relative;
	text-align: center;
	width: 290px;
	height: 145px;
    
}

/* Centered text */
.center {
    position: absolute;
    top: 80%;
    left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	background-color: teal;
	width: 100%;
}